.nav-brand{
	width: 70px;
	height: 70px;
}
.icon-e-commerce{
	width: 5.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}
.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}